# Python
__pycache__/
*.pyc
*.pyo

# Env
venv/
.env/


# Weights / checkpoints
*.pth
*.pt
*.onnx

# Dataset
datasets/
data/

# Logs
logs/
runs/

.idea/
*.pyc
images/
detect_imgs
*.bin
results/
test~~.py
*.mp4
build/
*.c
*.so
onnx_files
weights
tensorboard_log